# Data Visualization with Python Matplotlib for Beginner - Part 1

In [31]:
import pandas as pd 
import matplotlib.pyplot as plt

In [32]:
dataset = pd.read_csv('/Users/sugengw07/Documents/PYTHON/DATASET/retail_raw_reduced.csv')

In [33]:
print('Ukuran dataset: %d baris dan %d kolom\n' %dataset.shape)
print('Lima data teratas:\n')
print(dataset.head())

Ukuran dataset: 5000 baris dan 9 kolom

Lima data teratas:

   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price
0  BRAND_J        10      740000
1  BRAND_R         2      604000
2  BRAND_C         8     1045000
3  BRAND_A         4      205000
4  BRAND_R         2     4475000

Aku dan teman-teman di ruangan rapat sibuk menyimak penjelasan ini:

order_id : ID dari order/transaksi, 1 transaksi bisa terdiri dari beberapa produk, tetapi hanya dilakukan oleh 1 customer

order_date : tanggal terjadinya transaksi

customer_id : ID dari pembeli, bisa jadi dalam satu hari, 1 customer melakukan transaksi beberapa kali

city : kota tempat toko terjadinya transaksi

province : provinsi (berdasarkan city)

product_id : ID dari suatu product yang dibeli

brand : brand/merk dari product. Suatu product yang sama pasti memiliki brand yang sama

quantity : Kuantitas / banyaknya product yang dibeli

item_price : Harga dari 1 product (dalam Rupiah). Suatu product yang sama, bisa jadi memiliki harga yang berbeda saat dibeli

In [34]:
dataset.dtypes

order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object

In [36]:
import datetime
dataset['order_month'] = dataset['order_date'].apply(lambda x: datetime.datetime.strptime(x, "%Y-%m-%d").strftime('%Y-%m'))
print(dataset.head())
dataset.dtypes

   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price order_month
0  BRAND_J        10      740000     2019-10
1  BRAND_R         2      604000     2019-10
2  BRAND_C         8     1045000     2019-11
3  BRAND_A         4      205000     2019-08
4  BRAND_R         2     4475000     2019-10

order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
order_month    object
dtype: object

In [38]:
dataset['gmv'] = dataset['item_price']*dataset['quantity']
print('Ukuran dataset: %d baris dan %d kolom\n' %dataset.shape)
print(dataset.head())

Ukuran dataset: 5000 baris dan 11 kolom

   order_id  order_date  customer_id             city     province product_id  \
0   1703458  2019-10-17        14004  Jakarta Selatan  DKI Jakarta      P1910
1   1706815  2019-10-24        17220  Jakarta Selatan  DKI Jakarta      P2934
2   1710718  2019-11-03        16518    Jakarta Utara  DKI Jakarta      P0908
3   1683592  2019-08-19        16364    Jakarta Barat  DKI Jakarta      P0128
4   1702573  2019-10-16        15696    Jakarta Timur  DKI Jakarta      P2968

     brand  quantity  item_price order_month      gmv
0  BRAND_J        10      740000     2019-10  7400000
1  BRAND_R         2      604000     2019-10  1208000
2  BRAND_C         8     1045000     2019-11  8360000
3  BRAND_A         4      205000     2019-08   820000
4  BRAND_R         2     4475000     2019-10  8950000