# DATA CLEANSING WITH TELCO

In [80]:
#import library
import pandas as pd 

#import dataset
df_load = pd.read_csv('/Users/sugengw07/Documents/PYTHON/DQLAB/DATASET/dqlab_telco.csv')

#Tampilkan jumlah baris dan kolom
print(df_load.shape)

#Tampilkan 5 data teratas
print(df_load.head())

#Jumlah ID yang unik
print(df_load['customerID'].nunique())

(7113, 22)
   UpdatedAt   customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     202006  45759018157  Female              0     Yes         No     1.0
1     202006  45557574145    Male              0      No         No    34.0
2     202006  45366876421    Male              0      No         No     2.0
3     202006  45779536532    Male              0      No         No    45.0
4     202006  45923787906  Female              0      No         No     2.0

  PhoneService     MultipleLines InternetService  ... DeviceProtection  \
0           No  No phone service             DSL  ...               No
1          Yes                No             DSL  ...              Yes
2          Yes                No             DSL  ...               No
3           No  No phone service             DSL  ...              Yes
4          Yes                No     Fiber optic  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges TotalCharges  Churn
0           Electronic check          29.85        29.85     No
1               Mailed check          56.95      1889.50     No
2               Mailed check          53.85       108.15    Yes
3  Bank transfer (automatic)          42.30      1840.75     No
4           Electronic check          70.70       151.65    Yes

[5 rows x 22 columns]
7017

Memfilter ID Number Pelanggan Format Tertentu
Mencari format ID Number (Phone Number) Pelanggan customerID yang benar, dengan kriteria:

Panjang karakter adalah 11-12.
Terdiri dari Angka Saja, tidak diperbolehkan ada karakter selain angka
Diawali dengan angka 45 2 digit pertama.
 
Gunakan fungsi count() untuk menghitung banyaknya rows Customer ID, anda juga bisa menggunakan str.match() & regex untuk mencocokan dengan kriteria diatas. Jangan lupa gunakan astype() untuk merubah tipe datanya yang semula numeric

Notes : Buat kolom bantuan baru dengan nama `valid_id`

Hasil yang diharapkan adalah sebagai berikut.

Hasil jumlah ID Customer yang terfilter adalah 7006

In [81]:
df_load['valid_id'] = df_load['customerID'].astype(str).str.match(r'(45\d{9,10})')
df_load = (df_load[df_load['valid_id'] == True]).drop('valid_id', axis = 1)
print('Hasil jumlah ID Customer yang terfilter adalah',df_load['customerID'].count())

Hasil jumlah ID Customer yang terfilter adalah 7006

In [82]:
df_load = df_load.drop_duplicates().sort_values(by='UpdatedAt')
print('Hasil jumlah ID Customer yang sudah dihilangkan duplikasinya (distinct) adalah',df_load['customerID'].count())

Hasil jumlah ID Customer yang sudah dihilangkan duplikasinya (distinct) adalah 6999

In [83]:
df_load

,UpdatedAt,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7048,202005,45877978431,Male,1,No,No,1.0,No,No phone service,DSL,...,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,39.65,80.65,No
7044,202005,45819132957,Female,0,No,No,52.0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,20.65,1022.95,Yes
7045,202005,45995925610,Male,0,No,Yes,71.0,Yes,Yes,Fiber optic,...,Yes,No,Yes,Yes,Two year,No,Bank transfer (automatic),106.70,7702.25,No
7046,202005,45419036262,Female,0,Yes,Yes,10.0,Yes,No,DSL,...,Yes,Yes,No,No,Month-to-month,No,Credit card (automatic),60.20,528.35,Yes
7047,202005,45418334682,Female,0,No,No,21.0,Yes,No,Fiber optic,...,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,180.05,1862.90,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2359,202006,45261666061,Male,0,Yes,No,33.0,Yes,Yes,DSL,...,Yes,No,Yes,No,Month-to-month,Yes,Bank transfer (automatic),72.75,2447.45,No
2358,202006,45697441629,Female,0,Yes,No,55.0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,One year,No,Electronic check,19.70,1140.05,No
2357,202006,45925124954,Female,0,Yes,No,67.0,Yes,Yes,DSL,...,Yes,No,No,Yes,One year,No,Mailed check,75.10,5064.45,No
2368,202006,45665022680,Female,0,Yes,No,72.0,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),117.15,8529.50,No
7112,202006,45427332508,Female,0,No,Yes,1.0,Yes,No,Fiber optic,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,89.35,89.35,NaN

In [84]:
df_load = df_load.drop_duplicates()
df_load = df_load.sort_values('UpdatedAt', ascending=False).drop_duplicates(subset='customerID')
print('Hasil jumlah ID Customer yang sudah dihilangkan duplikasinya (distinct) adalah',df_load['customerID'].count())

Hasil jumlah ID Customer yang sudah dihilangkan duplikasinya (distinct) adalah 6993

In [85]:
print('Total missing values data dari kolom Churn',df_load['Churn'].isnull().sum())
# Dropping all Rows with spesific column
df_load.dropna(subset=(['Churn']),inplace=True)
print('Total Rows dan kolom Data setelah dihapus data Missing Values adalah',(df_load).shape)

Total missing values data dari kolom Churn 43
Total Rows dan kolom Data setelah dihapus data Missing Values adalah (6950, 22)